<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
  <head> 
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
  <link rel='stylesheet' href='<%= url_for("screen.css") %>' type='text/css' media='screen' />
  <title>Status : <%= Healthy::Diagnostic.status.to_s.upcase %></title>  
  </head>  
  <body class="<%= Healthy::Diagnostic.status %>"> 
    <h1><%= Healthy::Diagnostic.status.to_s.upcase %></h1>
    <div id="main"> 
      <ul>
        <% @checks.each do |check| %>
          <li id="<%= check.normalized_name %>">
            <h2>
              <div class="status <%= check.status %>"><%= check.status.to_s.upcase %></div>
              <%= check.name %>
            </h2>
            <% if check.respond_to?(:info) %>
              <a href="<%= url_for(check.normalized_name) %>" class='remote button'><span>run</span></a>
            <% end %>
            <a href="#" class='close button hide' onclick="$(this).hide().siblings('.info').slideUp(); return false;"><span>close</span></a>
            <div class='info'></div>
          </li>
        <% end %>
      </ul>
      <ul id='tools'>
        <% @tools.each do |check| %>
          <li id="<%=check.normalized_name %>">
            <h2>
              <div class="status"></div>
              <%= check.name %>
            </h2>
            <a href="<%= url_for(check.normalized_name) %>" class='remote button'><span>run</span></a>
            <a href="#" class='close button hide' onclick="$(this).hide().siblings('.info').slideUp(); return false;"><span>close</span></a>
            <div class='info'></div>
          </li>
        <% end %>
      </ul>
      
    <h4 id="refresh-msg" class='left'></h4>
    <h4 class='right'>
      <%= Healthy::Diagnostic.current_server %>
      <a href='#headers' onclick="$('#headers').toggle(); return false;">(show headers)</a>
    </h4>
    <div id='headers'><h6><%= request.env.keys.sort.collect{|n| "#{n} = #{request.env[n]}" }.join('<br>') %></h6></div>
    </div>
  </body>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script> 
  <script type="text/JavaScript">
    var pause = false;
    
    function reload(){
      if(!pause) location.reload(true);
    }
    
    function updateRefreshMessage(){
      var element = document.getElementById('refresh-msg');
      if(pause){
        element.innerHTML = 'page refresh disabled'
        return true;
      }

      var seconds = parseInt(element.innerHTML.replace(/\D/g,''));
      if(isNaN(seconds))
        element.innerHTML = "The page will refresh in 30 seconds";
      else
        element.innerHTML = "The page will refresh in " + (seconds - 1) + " seconds";
    	setTimeout('updateRefreshMessage();', 1000);      
    }
  	
  	$(document).ready(function(){
  	  $('a.remote').bind('click', function(){
  	    pause = true;
  	    var close = $(this).siblings('.close');
  	    var info  = $(this).siblings('.info');
  	    $.get($(this).attr('href'), function(data){
          info.html(eval(data)).slideDown();
  	      close.children('span').text('hide');
  	    });
  	    close.show().children('span').text('(processing)');
  	    return false;
  	  });
  	  
  	  updateRefreshMessage();
    	setTimeout("reload();", 30 * 1000);  
  	});
  </script>
</html>